// BUY-WRAPPER
.buy-wrapper__inner{
  display: flex;
}

.buy-wrapper__left{
  width: calc(100%2)
}

.buy-wrapper__right{
  background-image: url(../../img/main1-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100%2)
}


