// HEADER-BOTTOM
.header-bottom{
  background-color: $color-header-bottom;
}

.header-bottom__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom__title{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-light;
  margin-top: 10px;
  margin-bottom: 10px;
}
