// HEADER-TOP
.header-top{
  background-color: $color-header-top;
}

.header-top__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 214px;
  margin-right: 214px;
}

.header-top__title{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $color-light;
}

