// HEADER-TOP
.header-top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-header-top;
}

.header-top__title{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-light;
  padding-top: 10px;
  padding-bottom: 10px;
}

